@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;500;700;900&display=swap');
body {
margin: 0 auto;
font-family: 'Raleway', sans-serif;
}

*,
*::after,
*::before {
box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, li, fieldset, form, label, input, menu, nav {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
}

.container {
width: 100%;
max-width: 1170px;
margin: 0 auto;
}

.header {
width: 100%;
height: 100px;
position: absolute;
z-index: 7;
}

.cap {
display: flex;
justify-content: space-between;
align-items: center;
padding: 40px 0;
border-bottom: 1px solid #BABBC5;
}

.logo {
margin: -36px 0 -36px 0;
}

.nav {
display: flex;
}

.navy {
font-size: 13px;
font-weight: 700;
color: #fff;
text-transform: uppercase;
text-decoration: none;
}

.navy:not(:last-child) {
margin-right: 50px;
}

.navy:hover {
text-decoration: #BABBC5;
}

.navy:active {
color: #E71414;
text-decoration: #E71414;
}

.background {
display: flex;
justify-content: center;
flex-direction: column;
height: 747px;
padding-top: 100px;
background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url(/coursework/img/banner.jpg) center no-repeat;
background-size: cover;
background-attachment: fixed;
}

.background_discription {
margin: 0 auto;
width: 100%;
max-width: 970px;
text-align: center;
}

.discription_head {
margin-bottom: 31px;
font-size: 64px;
line-height: 1.1;
font-weight: 900;
color: #fff;
text-transform: uppercase;
}

.discription_subtitle {
margin-bottom: 80px;
font-size: 24px;
font-weight: 400;
line-height: 1.2;
color: #fff;
}

.button {
width: 370px;
height: 80px;
display: flex;
justify-content: center;
 align-items: center;
margin: 0 auto;
background-color: #FF4343;
font-size: 24px;
font-weight: 900;
color: #fff;
text-transform: uppercase;
border: none;
cursor: pointer;
}

.button:hover {
background-color: #E71414;
}

.button:active {
background-color: #FF4343;
box-shadow: 4px 4px 30px #FF4343;
}


.advantage{
margin: 120px 0;
display: flex;
flex-wrap: wrap;
}

.advantage_item {
padding: 0 15px;
width: calc(100%/3);
text-align: center;
}

.advantage_item:nth-child(n+4) {
margin-bottom: 170px;
}

.advantage_img {
margin: 0 auto;
}

.advantage_title {
margin-bottom: 40px;
color: #2D3033;
font-size: 24px;
font-weight: 900;
text-transform: uppercase;
}

.advantage_text {
color: #6C7279;
font-size: 18px;
font-weight: 400;
line-height: 1.2; 
}