@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');

html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,img,ul,li,fieldset,form,label,input,menu,nav {
  margin: 0 ;
  padding: 0;
  border: 0;
  font-size: 100%;
  font:inherit;
  vertical-align: baseline;   
  }


.tabs {
    font-size: 0;
  }

.tab {
  display: inline-block;
width: 184px ;
height: 39px;
border: 1px solid #C6CBCD ;
border-bottom: none ;
border-radius: 5px 5px 0 0;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
padding:0 0 13px 0;
align-items: center;
text-align: center;
text-transform: uppercase;
}
 

  .tabs>input[type="radio"] {
    display: none;
  }

  .tabs>div {
    display: none;
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    font-size: 16px;
  }

  #tab-btn-1:checked~#content-1,
  #tab-btn-2:checked~#content-2,
  #tab-btn-3:checked~#content-3 {
    display: block;
  }

  .tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-size: 14px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out;
    margin-left: 6px;
    cursor: pointer;
    margin-bottom: 4px;
  }

  .tabs>label:not(:first-of-type) {
    border-left: none;
  }

  .tabs>input[type="radio"]:checked+label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
  }

.block {
  width: 1170px;
  height: 501px;
  left: 170px;
  top: 1302px;
  
  border: 1px solid #C6CBCD;
  box-sizing: border-box;
}

.h3 {
margin: 47px 0 47px 0;
font-family: "Open Sans";
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 41px;
display: flex;
align-items: center;
color: #000000;
}

.h5 {
width: 570px ;
height: 210px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
}

.text {
display: flex ;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
}

#block1 {
  float: left;
  display: block;
  width: 570px;
}

  #block2 {
    float: right;
    display: block;
    width: 470px;
    padding: 0;
 }

.button {
width: 270px;
height: 58px;
border: 1px solid white;
background: #EC7979;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
justify-content: center ;
color: #FFFFFF;
  }

.button:hover {
  background: #AB4949;
}

.button:active {
  background: #EC7979;
  box-shadow: inset 0px 0px 10px #AB4949;  
}