@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');

.tabs {
    font-size: 0;
  }

  .tabs>input[type="radio"] {
    display: none;
  }

  .tabs>div {
    display: none;
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    font-size: 16px;
  }

  #tab-btn-1:checked~#content-1,
  #tab-btn-2:checked~#content-2,
  #tab-btn-3:checked~#content-3 {
    display: block;
  }

  .tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 2px 8px;
    font-size: 14px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out;
    margin-left: 6px;
    cursor: pointer;
    margin-bottom: 4px;
  }

  .tabs>label:not(:first-of-type) {
    border-left: none;
  }

  .tabs>input[type="radio"]:checked+label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
  }

.block {
    width: 1170px;
    height: 540px;
    left: 170px;
}

.h3 {
display: flex;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 41px;
align-items: center;

color: #000000;
}
.text {
display: flex ;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
}

#block1 {
  float: left;
  display: block;
  width: 700px;
  }
  
  #block2 {
  float: right;
  display: block;
  width: 470px;
  padding: 0;
  }